$darkGreen: #044132;

body, * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div {
	position: absolute;
}

body {
	background-color: #000;
}

#main {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: $darkGreen;
}

#debugText {
	top: 0;
	left: 0;
	width: 25%;
	height: 160px;
	padding-top: 10px;
	padding-left: 10px;
	background-color: #f584ff;
	font-size: 0.75em;
	font-color: black;
	font-family: monospace;
	opacity: 0.3;
}