@font-face {
  font-family: 'Colfax';
  src: url("Colfax-Medium.woff2") format("woff2"), url("Colfax-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

div {
  position: absolute; }

body {
  background-color: #000; }

#main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #044132; }

#debugText {
  bottom: 0;
  left: 0;
  width: 40%;
  height: 140px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f584ff;
  font-size: 1.50em;
  font-color: black;
  font-family: monospace;
  opacity: 0.8; }

#footer {
  width: 100%;
  height: 0px;
  background-color: #044132;
  bottom: 0;
  opacity: 0; }

#logo {
  width: 40%;
  height: 70%;
  left: 5%;
  top: 10%;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat; }

#cta {
  width: 40%;
  height: 70%;
  right: 5%;
  top: 10%;
  background-image: url(cta.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

#introOverlay {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 0;
  opacity: 1.0; }

#instructions {
  width: 80%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#instructionText {
  width: 100%;
  height: 70%;
  bottom: 4%;
  background-image: url(instructionsText.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom; }

#phoneIcon {
  width: 100%;
  height: 30%;
  top: 0;
  background-image: url(phoneIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  transform-origin: center; }

#endFrame {
  width: 100%;
  height: 100%;
  background-color: #044132;
  z-index: 999; }

#endHeader {
  width: 80%;
  height: 35px;
  left: 20px;
  top: 40px;
  background-image: url(end_header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; }

#endSubHead {
  width: 80%;
  height: 3.0%;
  left: 20px;
  top: 90px;
  font-family: 'Colfax';
  font-size: 16px;
  color: #FFF;
  letter-spacing: 1.5px; }

#replayBtn {
  width: 80%;
  height: 2.0%;
  left: 20px;
  top: 25%;
  background-image: url(replayIcon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; }

#tagLine {
  width: 90%;
  height: 20%;
  left: 20px;
  bottom: 45%;
  background-image: url(tagline.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; }

#endCta {
  width: 40%;
  height: 7.5%;
  left: 20px;
  bottom: 30%;
  background-image: url(cta.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; }

#endLogo {
  width: 100%;
  height: 20%;
  left: 20px;
  bottom: 20px;
  background-image: url(endLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center; }

#scoreTab {
  width: 112px;
  height: 48px;
  background-color: #044132;
  top: 6%;
  left: 0;
  font-family: 'Colfax';
  font-size: 13px;
  color: #FFF;
  letter-spacing: 1.5px;
  font-weight: 100; }

#timeText {
  width: 100%;
  height: 50%;
  margin-left: 6px;
  padding-top: 4px; }

#scoreText {
  bottom: 0;
  width: 100%;
  height: 50%;
  margin-left: 6px;
  border-top: 1px solid #FFF;
  padding-top: 4px; }
